.header-container {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  nav ul li a:hover {
    color: #ffd700; /* Change to your desired hover color */
  }
  